// text 떡메

.deleteButton{
    position: absolute;
    top: -5px;
    right: -5px;
    margin: 10px;
    width: 60px;
    text-align: right;
    opacity: 0.1;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
.approveUpdateButton{
    position: absolute;
    top: -5px;
    right: 20px;
    margin: 10px;
    width: 60px;
    text-align: right;
    opacity: 0.1;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
}
.updateButton{
    position: absolute;
    top: -5px;
    right: 20px;
    margin: 10px;
    width: 60px;
    text-align: right;
    opacity: 0.1;
    &:hover{
        cursor: pointer;
        opacity: 1;
    }
    
}
.header{
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 10px;
}
.content{
    position: absolute;
    // margin: 20px;
    top: 20px;
    left: 0%;
}
.textAreaStyle{
    resize: none;

}
.headerAreaStyle{
    
}
// 가계부
.financialLedger{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
}
.financeHeader{
    grid-column: 1 / span 3;
   
}
.financeContentHeader{
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}
.financeAddButton{
    position: absolute;
    right: -50px;
    width: 40px;
    height: 20px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    line-height: 5px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    // background: #A74982;
    background: #00AE68;
    // box-shadow: 0px 5px 0px 0px #6D184B;
    box-shadow: 0px 5px 0px 0px #007144;
    &:hover{
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        // box-shadow: 0px 0px 0px 0px #6D184B;
        box-shadow: 0px 0px 0px 0px #007144;
    }
}
.financeFooter{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.financeContent{

    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 5px;
}
.financeContentTag{

}
.financeIncome{
    display: flex;
    color: blue;
    justify-content: center;
}
.financeOutcome{
    color: red;
}
.financeContentInput{
    margin-left: 5;
    background: transparent;
    border: 0px solid;
    text-align: center;
    margin-top: 5px;
}
//체크리스트
.checklist{
    overflow: scroll;
}
.checklistHeader{
    margin: 10px;
}   
.checklistBody{
    margin-left: 10px;
}
.checklist::-webkit-scrollbar {
    display: none;
    width: 0;
}
.checklistButton{
    margin-top: 10px;
    position: absolute;
    bottom: 0%;
    left: 0px;
}
.checklistInput{
    margin: 10px;
    background: transparent;
    border: 0px solid;
    text-align: center;
    margin-top: 5px;
}
.checklistAddButton{
    position: absolute;
    right: -60px;
    width: 40px;
    height: 20px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    line-height: 5px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
    // background: #A74982;
    background: #00AE68;
    // box-shadow: 0px 5px 0px 0px #6D184B;
    box-shadow: 0px 5px 0px 0px #007144;
    &:hover{
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        // box-shadow: 0px 0px 0px 0px #6D184B;
        box-shadow: 0px 0px 0px 0px #007144;
    }
}
//이미지
.fileUploader{
    margin-top: 10px;
    position: absolute;
    bottom: -60px;
    left: 0%;
}
.image{
    -webkit-user-drag: none;
}
//스티커
.emojiInput{
    position: absolute;
    bottom: -60px;
    left: -10px;
    width: 250px;
    z-index: 0;
}