
.deleteButton{
    position: absolute;
    top: 0%;
    right: 0px;
    margin: 10px;
    cursor: pointer;
}
.updateButton{
    position: absolute;
    top: 0%;
    right: 30px;
    margin: 10px;
    &:hover{
        cursor: pointer;
    }
    
}
.header{
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 10px;
}
.content{
    position: absolute;
    margin: 20px;
    top: 20px;
    left: 0%;

}
.approveUpdateButton{
    position: absolute;
    bottom: 0%;
    right: 0px;
    margin: 10px;
    &:hover{
        cursor: pointer;
    }
}
.textAreaStyle{
    resize: none;

}
.headerAreaStyle{
    
}
// 가계부
.financialLedger{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.financeHeader{
    grid-column: 1 / span 3;
}
.financeContentHeader{
    text-align: center;
}
.financeAddButton{
    grid-column: 1 / span 3;
}
.financeContent{
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.financeIncome{
    color: blue;
}
.financeOutcome{
    color: red;
}