@mixin cursor {
  &:hover {
    cursor: pointer;
  }
}

.dateContainer {
  margin: 10px;
  // z-index: 1;
  // max-width: 50%;
  span {
    vertical-align: middle;
    margin: 10px;
  }
  .calendarIcon {
    margin-left: 20px;
    @include cursor;
  }
  span {
    display: inline-block;
    text-align: center;
  }
  button {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    &:hover {
      background-color: #137cbf;
      color: white;
    }
  }
  .deleteBtn {
    width: 70px;
    margin: 10px;
    border-radius: 10%;
    background-color: rgb(0, 198, 135);
    color: white;
  }
}

@mixin styledButton {
  padding: 10px;
  background-color: #a5ceff;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 5px grey;
}

.saveBtnWrapper {
  position: absolute;
  .saveBtn {
    @include styledButton();
    margin: 30px;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}

.pannelBtnImgContainer {
  position: absolute;
  @include cursor;
  position: fixed;
  right: 0;
  top: 150px;
  margin-right: 50px;
  // margin: 50px;
}
