@mixin cursor {
  &:hover {
    cursor: pointer;
  }
}

.naviWrapper {
  height: 120px;
  width: 100vw;
  border-bottom: solid 2px rgb(186, 186, 186);
  box-shadow: 0 0 10px grey;
  // border-radius: 0 0 0 20px;
  position: relative;
  .logo {
    text-align: center;
    padding: 20px;
    @include cursor;
  }
}

.menuContainer {
  // background-color: aqua;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  // text-align: center;
  .menu {
    display: inline-block;
    margin: 10px;
    margin-right: 50px;
    margin-left: 50px;
    vertical-align: bottom;
    @include cursor;
  }
  .auth {
    float: right;
  }
}
