@mixin cursor {
  &:hover {
    cursor: pointer;
  }
}

.pannel {
  width: 20%;
  height: 100%;
  // float: right;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  // border-left: solid 1px grey;
  overflow: auto;
  background-color: #cfe1ec;
  .closeBtnImg {
    right: 0;
    // background-color: red;
    @include cursor();
  }

.container {
  position: relative;
  width: 150px;
  margin: 30px;
  display: inline-block;
  &:hover {
    filter: brightness(80%);
    .middle {
      opacity: 1;
    }
    .image {
      opacity: 0.3;
      filter: brightness(80%);
    }
  }
}

.image {
  opacity: 1;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  @include cursor();
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  background-color: #2699e2;
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.closeBtnImgContainer {
  text-align: right;
  padding-right: 50px;
}
